* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: white;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

.nav-items {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
}

.nav-item {
  padding: 0.5rem;
}

.nav-item:hover {
  background-color: #777;
}
